<h1>Which is the patent troll?</h1>
<div class="left">
  <p><%= @patent_array[0].name %></p>
  <% if @spin == 1 %>
    <div id="patent-info"><p>This is patent no. <%= @patent_array[0].id %>!</p></div>
  <% end %>
</div>
<div class="right">
  <p><%= @patent_array[1].name %></p>
  <% if @spin == 0 %>
    <div id="patent-info"><p>This is patent no. <%= @patent_array[1].id %>!</p></div>
  <% end %>
</div>
<div id="check-answer-button">
  <div id="check-button">Check answer</div>
  <div id="roll-again">Roll again!</div>
  <div id="answer" class="hidden"><%= @spin %></div>
</div>
<div class="bottom">
</div>
