<div class="top">
  <h1>Which is the patent troll?</h1>
  <p>(i.e., which is a real patent and which has been generated using <a href="http://en.wikipedia.org/wiki/Context-free_grammar">context-free grammar</a>?)
</div>
<div class="left">
  <p><%= @patent_array[0].name %></p>
  <div class="patent-info">
    <% if @spin == 1 %>
      <p>This is patent number 
      <%= link_to "#{@patent_array[0].id}", "http://www.google.com/search?tbo=p&tbm=pts&hl=en&q=patent:#{@patent_array[0].id}" %>
      </p>
    <% else %>
      <p>This is patent number TROLL! </p>
    <% end %>
  </div>
</div>
<div class="right">
  <p><%= @patent_array[1].name %></p>
  <div class="patent-info">
    <% if @spin == 0 %>
      <p>This is patent number 
      <%= link_to "#{@patent_array[1].id}", "http://www.google.com/search?tbo=p&tbm=pts&hl=en&q=patent:#{@patent_array[1].id}" %>
      </p>
    <% else %>
      <p>This is patent number TROLL! </p>
    <% end %>
  </div>
</div>
<div id="check-answer-button">
  <div id="check-button">Check answer</div>
  <div id="roll-again">Roll again!</div>
  <div id="answer" class="hidden"><%= @spin %></div>
</div>
