<!DOCTYPE html>
<html>
  <head>
    <title>Usptosis</title>
    <%= stylesheet_link_tag :all %>
    <%= stylesheet_link_tag "custom.css" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header"></div>
      <div id="main">

        <%= yield %>

        <div class="push"></div>
      </div>  <!-- end main -->
    </div> <!-- end div wrapper -->
    <div id="footer">
      <p>Copyright, copyleft, copycat... who cares.</p>
    </div>
  </body>
</html>
